*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto,Arial,Helvetica,sans-serif;
    font-size: 14px; 
}

/* style for the main title of page */
.title{
  display: grid;
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: -40px;
}

/*------------------------styles for navigation bar starts here -------------------------- */
nav{
 
 display: flex;
 width: 100%;
 justify-content: space-between;
 text-align: center;
 padding:0px 30px;
 align-items: center;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
nav>div>.icon{
    width: 100%;
}
/* nav>div>.icon>img{
    width: 100%;
} */

nav ol{
 display: flex;
 list-style:none;
 margin: auto 0 ;
}
nav ol li{
    margin-right: 20px;
}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px ;
}
nav .search_box input{
    /* border: none;
    outline: none; */
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    position: relative;
}
nav .search_box .fa-magnifying-glass{
    display: grid;
    align-items: center;
    height: 96%;
    padding: 0 10px;
    outline: 1px solid black;
    
}
nav .search_box .fa-magnifying-glass:hover{
    background-color: grey;
}
#displayAccount{
    display: none;
}
#displayouterbox>li>a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 1030px){
    nav{
 
 display: flex;
 flex-direction: column;
}
#displayouterbox{
    display: none;
}
#displayAccount{
    display: flex;
}
nav>:nth-child(1){
    display: flex;
    width: 100%;
    justify-content: space-between;
}
nav>:nth-child(1)>.icon{
    display: grid;
    justify-content: flex-start;
}
.search_box{
    width: 100%;
    margin-top:5px;

}
.search_box input{
    min-width: 95%;
}

#displayAccount>li>a{
    text-decoration: none;
    color: black;
}
}
/* css for the category navbar */
#navbar>ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-around;
    background-color: #F9F9F9;
    
   }
   #navbar>.nav>i,a{
    display: block;
   }
 
   .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
   }
 
   i{
    margin-bottom: 20px;
   }
   a{
    margin: auto;
    color: black;
    right: 15px;
    text-decoration: none;
   }
 
   a:hover{
    color: blue;
   }
 
   ul>li:nth-child(3)>a{
    right: 30px;
   }
 
   ul>li:nth-child(5)>a{
    right: 40px;
   }
 
   ul>li:nth-child(6)>a{
    right: 30px;
   }
 
   @media all and (min-width:600px) and (max-width:1000px){
    #navbar>ul{
       
       grid-template-columns: repeat(3,1fr);
       
       
      }
 }
 
 @media all and (min-width:0px) and (max-width:599px){
    #navbar>ul{
       
       grid-template-columns: repeat(2,1fr);
       
       
      }
 }

   
/* ---------------------------------styles for navigation bar ends here --------------------- */
#midsection{
    display:flex;
}
#midsection_part1{
    width: 15%;
    margin-top:50px;
}
#midsection_part1>h3{
  font-size: 20px;
  text-align: center;
}
#midsection_part1 h4{
    margin-bottom: 10px;
}
#midsection_part1 label{
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
}
#midsection_part1 label>input{
    margin-right: 5px;
}
#midsection_part1>div{
    background-color: #f3f3f3;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}
 
#midsection_part2{
   width: 85%;
   margin-top: 100px;
}
#sort{
    padding: 5px;
    
}
#midsection_part2>:nth-child(1){
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#midsection_part2>:nth-child(1)>:nth-child(1){
    display:none;
 }
#desktop_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px 15px;
    
}
.product_card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.product_card>img{
    width: 100%;
}

.product_card>h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.product_card>p:nth-child(5){
    margin-bottom: 20px;
}
.product_card>div:nth-child(9){
    margin-bottom: 20px;
}
.product_card>button{
    width: 90%;
    background-color: #4f7d00;
    color: white;
    padding: 2px 30px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    align-items: flex-end;
}
#cart_container{
    border: 3px solid red;
    border-radius: 40%;
    padding: 5px;
}
#media_cart_container{
    border: 3px solid red;
    border-radius: 40%;
    padding: 5px;
}
@media all and (min-width:600px) and (max-width:1000px){
    #midsection{
        flex-direction: column;
    }
    #midsection_part1{
        width: 100%;
        display: none;
    }
    #midsection_part2{
        width: 100%;
        border: 1px solid black;

    }
    #midsection_part2>:nth-child(1)>:nth-child(1){
        display:block;
     }
     #desktop_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (min-width:0px) and (max-width:599px){
    #midsection{
        flex-direction: column;
    }
    #midsection_part1{
        width: 100%;
        display: none;
    }
    #midsection_part2{
        width: 100%;
        border: 1px solid black;

    }
    #midsection_part2>:nth-child(1)>:nth-child(1){
        display:block;
     }
    #desktop_container{
        grid-template-columns: repeat(1,1fr);
    }
}

/* ---------------------styles for footer part---------------------- */

ul{
    list-style: none;
  }
  #footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #F0F0F0;
    padding:20px 30px;
    /* width: 100%;
    margin: auto; */
  }
  #footer li{
    margin-top:10px;
  }
  .flex{
    display: flex;
    gap: 20px;
    margin-left: -35px;
  }
  #footer-part-2{
    background-color: #F0F0F0;
    margin-top: -17px;
    margin-bottom: -20px;
    margin: auto;
    padding: 40px;
  }

  /* queries for medium screen */
  @media only screen and (max-width: 1000px) and (min-width: 600px)  {
    #footer{
      grid-template-columns: repeat(2,1fr);
      padding:20px 30px;
    }
  }


  /* queries for small screen */
  @media only screen and (max-width: 599px) and (min-width: 0px)  {
    #footer{
      grid-template-columns: repeat(1,1fr);
      padding:20px 30px;
    }
  }